<%- contentFor('content') %>
<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-header">
                <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr >
                            <th> #</th>
                            <th>الاسم</th>
                            <th>Platform(s)</th>
                            <th>Engine version</th>
                            <th>CSS grade</th>
                        </tr>
                    </thead>
                    <tbody>
                <% for (user of users) {%>
                        <tr>
                            <td><%=user.title%></td>
                            <td><%=user.body%>
                            </td>
                            <td>Win 95+</td>
                            <td> 4</td>
                            <td>X</td>
                        </tr>
              <% } %>
                    </tbody>
                   
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>