<%- contentFor('content') %>
<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-header">
                <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr >
                            <th> #</th>
                            <th>الاسم</th>
                            <th>البريد الالكترونى</th>
                            <th>الاعدادت</th>
                        </tr>
                    </thead>
                    <tbody>
                <% for(var i=0;i< users.length ;i++) {%>
                        <tr>
                        <td><%= i+1 %></td>
                            <td><%=users[i].name%></td>
                            <td><%=users[i].email%>
                            </td>

                            <td>X</td>
                        </tr>
              <% } %>
                    </tbody>
                   
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>